doctype html
html
  head
    title box-sizing
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body

    h1

  script(src="js/box_sizing.js")
  script.

