doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body
    h1 引入zepto函数

    header

    footer version reserver

  script(src="./js/index_zepto_bundle.js")

