doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body
    h1
    h2 | flex-flow
    .group
      .item1 11
      .item2 2
      .item3 3
      .item4 4
      .item5 5
      .item6 6
      .item7 7
      .item8 8
      .item9 9
    hr

    footer#time

  script(src="./js/bundle.js")

