doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    link(rel="stylesheet",href="css/base.css")
  
  body
    
    h1 gulp新的实践
    
    article
      p
        | 我们使用babel解析es2015
      p
        | 我们使用sass书写css
      p
        | 我们使用pug书写html模板
      
    footer#time
    
  script(src="js/base.js")
  script.
    getTime();
   