doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body
    h1 jquery

    header

    footer#time

  script(src="./js/index_jquery_bundle.js")

