doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body
    h1 page2
    
    footer#time

  script(src="./js/index2_bundle.js")

