doctype html
html
  head
    title init page
    meta(charset="UTF-8")
    include metas/meta.pug
    link(rel="stylesheet",href="css/index.css")

  body
    block content
      h1 test article
      article
        | article article

    block scripts
      script(src="./js/test_bundle.js")

