*{
  margin: 0;
  padding: 0;
}

body{
  padding: 50px;
  font-size: 16px;
  font-family: sans-serif;
}

h1{
  font-size: 26px;
}

article{
  margin-top: 50px;
  p{
    font-size: 18px;
    margin-top: 15px;
  }
}
footer{
  margin-top: 50px;
  font-size: 14px;
}



